body {
    background-color: #6F9FB6;
}

#ayuda {
    padding-left: 30px;
    padding-right: 15px;
}

#cartas {
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbotron {
      background-color: rgb(103, 118, 126);
}